.detail__img-container {
    height: 320px;
    width: 100%;
}

.detail__img-container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.detail__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 440px;
    width: 100px;
    text-align: center;
    padding: 20px;
    margin: auto;

    @media only screen and (min-width: $mediaTablet-640) {
            max-width: 600px;
        }
}


.detail__text-box h2 {
    color: $very-dark-desatured-blue;
    font-family: $font-fraunces;
    margin: 25px;
}

.detail__text-box p {
    color: $dark-grayish-blue;
    font-family: $font-fraunces;
    line-height: 1.8rem;
    margin-bottom: 25px;
}

.detail__text-box a {
    color: $very-dark-desatured-blue;
    font-family: $font-barlow;
    font-weight: 900;
    font-size: 0.9rem;
    text-decoration: none;
    overflow: hidden;
}

.detail__text-box a::after{
    display: block;
    content: "";
    height: 8px;
    width: 126px;
    border-radius: 4px;
    opacity: 40%;
    position: relative;
    top: -8px;
    left: calc(50% - 63px);
    z-index: -1;
}

.detail:first-child .detail__text-box a ::after {
    background-color: $yellow;
}

.detail:last-child .detail__text-box a::after {
    background-color: $soft-red;
}

.detail {
        display: flex;
        width: 100%;
    }

    .detail:first-child{
        flex-direction: row-reverse;
    }

    .detail__img-container {
        height: auto;
        width: 50%;
    }

    .detail__text-box {
        align-items: start;
        height: auto;
        width: 50%;
        text-align: left;
        padding: 60px;
    }

    .detail__text-box p {
        font-size: 0.8rem;
        line-height: 1.4rem;
    }

    .detail__text-box h2 {
        margin: 25px 0;
        max-width: 370px;
    }

    .detail:first-child .detail__text-box a::after,.detail:last-child .detail__text-box a::after { 
        top: -8px;
        left: 0;
        opacity:50%;
        transform: translate(-130px);
        transition: all 350ms ease-out;
    }

    .detail:first-child .detail__text-box a:hover::after,.detail:last-child .detail__text-box a:hover::after {
        opacity:100%;
        transform: translate(0px);
    }

    @media only screen and (min-width: $mediaDesktop-820) {

    .detail {
        display: flex;
        width: 100%;
    }

    .detail:first-child{
        flex-direction: row-reverse;
    }

    .detail__img-container {
        height: auto;
        width: 50%;
    }

    .detail__text-box {
        align-items: start;
        height: auto;
        width: 50%;
        text-align: left;
        padding: 60px;
    }

    .detail__text-box p {
        font-size: 0.8rem;
        line-height: 1.4rem;
    }

    .detail__text-box h2 {
        margin: 25px 0;
        max-width: 370px;
    }

    .detail:first-child .detail__text-box a::after,.detail:last-child .detail__text-box a::after { /*TODO ARREGLAR ESTO*/
        top: -8px;
        left: 0;
        opacity:50%;
        transform: translate(-130px);
        transition: all 350ms ease-out;
    }

    .detail:first-child .detail__text-box a:hover::after,.detail:last-child .detail__text-box a:hover::after {
        opacity:100%;
        transform: translate(0px);
    }
}